{% set LS = i18n[pageLang] %}
<section class="subscribe" aria-labelledby="nh">
  <h2 id="nh">{{ LS.news_title }}</h2>
  <p>{{ LS.news_sub }}</p>
  <div class="news-form" style="max-width:520px;margin:16px auto 0">
    {% include "newsletter.njk" %}
  </div>
</section>
