{% set LS = i18n[pageLang] %}
{% set newsletterUrl = site.newsletterUrl[pageLang] %}

<section class="subscribe" aria-labelledby="nh">
  <h2 id="nh">{{ LS.news_title }}</h2>
  <p>{{ LS.news_sub }}</p>

  {% if newsletterUrl %}
  <a class="news-btn" href="{{ newsletterUrl | url }}">
    {{ LS.news_btn }}
  </a>
  {% else %}
  <p class="news-off eyebrow">{{ LS.news_off }}</p>
  {% endif %}
</section>
