---
layout: base.njk
pageLang: pt
title: Newsletter
permalink: /newsletter/
noSubscribe: true
loadMailerLite: true
---

<section class="newsletter-page" aria-labelledby="newsletter-title">
  <h1 id="newsletter-title">Newsletter</h1>

  <div class="ml-embedded" data-form="H4F00X"></div>

  <p class="newsletter-privacy">
    Seu e-mail será utilizado somente para o envio de novas publicações.
    Você poderá cancelar a inscrição a qualquer momento.
  </p>
</section>
